POSTGRES_DB=forgemind
POSTGRES_USER=forgemind
POSTGRES_PASSWORD=forgemind
POSTGRES_PORT=5435
BACKEND_HOST=192.168.0.106
BACKEND_BIND_HOST=0.0.0.0
ADMIN_HOST=192.168.0.106
BACKEND_PORT=8005
ADMIN_PORT=3005
METRO_HOST=0.0.0.0
METRO_PORT=8085
TEST_BACKEND_PORT=28005
TEST_ADMIN_PORT=23005
TEST_METRO_PORT=28085
GRAFANA_PORT=3002
PROMETHEUS_PORT=9090
STOREKIT_API_BASE_URL=https://api.storekit.itunes.apple.com
STOREKIT_ROOT_CA_PEM=
